* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f25287;
  background: linear-gradient(-45deg, #dce6a4, #da467f, #6d6fe7, #05f81a);
  background-size: 400% 400%;
  animation: gradient 5s ease infinite;
  display: block;
  font-family: "Lobster", cursive;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.action-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -25px;
  height: 100vh;
}

.main-video {
  margin: 0px;
  margin-top: 5px;
  opacity: 0;
  width: 230px;
  height: 165px;
  margin-bottom: 30px;
  animation: fadeIn;
  animation-duration: 1s;
  animation-delay: 1.8s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
}

.texto-video {
  box-shadow: 0px 0px 10px 10px #70d9da96;
  padding: 6px;
  opacity: 0;
  font-size: 30px;
  margin-top: -10px;
  border: 3px;
  border-style: solid;
  border-color: black;
  border-radius: 14px;
  background-color: #a733c2;
  animation: fadeIn;
  animation-duration: 0.8s;
  animation-delay: 2.6s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
  color: #ffffff;
}

.instagram {
  opacity: 0;
  margin-top: 10px;
  height: 80px;
  width: 80px;
  animation: fadeIn;
  animation-duration: 1.3s;
  animation-delay: 1.7s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
}

.seguime {
  --shadow-color: #7972d33b;
  --shadow-color-light: rgba(255, 0, 212, 0.685);
  opacity: 0;
  font-size: 1.9rem;
  color: darkmagenta;
  animation: fadeIn 1.3s forwards, neon 3s infinite;
  animation-delay: 1.8s;
  animation-timing-function: ease-in;
}

.img-blur {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  object-position: 0 13%;
  position: absolute;
  z-index: -1;
  animation: makeBlurred;
  animation-duration: 1.2s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
}

@keyframes makeBlurred {
  0% {
    filter: blur(0px);
  }
  100% {
    filter: blur(20px);
    transform: scale(0.9);
  }
}

@keyframes fadeIn {
  0% {
    transform: translateY(50%);
    display: hidden;
  }
  100% {
    transform: translateY(10%);
    opacity: 1;
    display: inline;
  }
}
@keyframes neon {
  0% {
    text-shadow: -1px -1px 1px var(--shadow-color-light),
      -1px 1px 1px var(--shadow-color-light),
      1px -1px 1px var(--shadow-color-light),
      1px 1px 1px var(--shadow-color-light), 0 0 3px var(--shadow-color-light),
      0 0 10px var(--shadow-color-light), 0 0 20px var(--shadow-color-light),
      0 0 30px var(--shadow-color), 0 0 40px var(--shadow-color),
      0 0 50px var(--shadow-color), 0 0 70px var(--shadow-color),
      0 0 100px var(--shadow-color), 0 0 200px var(--shadow-color);
  }
  50% {
    text-shadow: -1px -1px 1px var(--shadow-color-light),
      -1px 1px 1px var(--shadow-color-light),
      1px -1px 1px var(--shadow-color-light),
      1px 1px 1px var(--shadow-color-light), 0 0 5px var(--shadow-color-light),
      0 0 15px var(--shadow-color-light), 0 0 25px var(--shadow-color-light),
      0 0 40px var(--shadow-color), 0 0 50px var(--shadow-color),
      0 0 60px var(--shadow-color), 0 0 80px var(--shadow-color),
      0 0 110px var(--shadow-color), 0 0 210px var(--shadow-color);
  }
  100% {
    text-shadow: -1px -1px 1px var(--shadow-color-light),
      -1px 1px 1px var(--shadow-color-light),
      1px -1px 1px var(--shadow-color-light),
      1px 1px 1px var(--shadow-color-light), 0 0 3px var(--shadow-color-light),
      0 0 10px var(--shadow-color-light), 0 0 20px var(--shadow-color-light),
      0 0 30px var(--shadow-color), 0 0 40px var(--shadow-color),
      0 0 50px var(--shadow-color), 0 0 70px var(--shadow-color),
      0 0 100px var(--shadow-color), 0 0 200px var(--shadow-color);
  }
}

@media screen and (min-width: 550px) {
  .main-video {
    width: 450px;
    height: 220px;
    margin-bottom: 60px;
  }

  .instagram {
    width: 10rem;
    height: 10rem;
    margin-bottom: 45px;
  }

  .seguime {
    font-size: 3rem;
  }
}

@media screen and (min-width: 900px) {
  .img-blur {
    object-position: 0 12%;
  }

  .texto-video {
    margin-top: 0px;
  }

  .main-video {
    width: 600px;
    height: 390px;
    margin-bottom: 40px;
  }

  .instagram {
    width: 12rem;
    height: 12rem;
    margin-bottom: -1px;
  }

  .seguime {
    font-size: 6rem;
  }
}

@media screen and (max-width: 500px) {
  .main-video {
    width: 340px;
    height: 230px;
    margin-top: 20px;
    margin-bottom: 40px;
  }

  .instagram {
    width: 8rem;
    height: 8rem;
    margin-top: 50%;
  }

  .seguime {
    font-size: 43px;
  }
}
@media screen and (max-width: 300px) {
  .main-video {
    width: 305px;
    height: 245px;
  }

  .instagram {
    margin-top: 10px;
  }

  .seguime {
    font-size: 2rem;
  }
}
