* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: block;
  font-family: "Lobster", cursive;
  height: 100vh;
  background-color: #143d88;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 1000'%3E%3Cg %3E%3Ccircle fill='%23143d88' cx='50' cy='0' r='50'/%3E%3Cg fill='%233e3f8b' %3E%3Ccircle cx='0' cy='50' r='50'/%3E%3Ccircle cx='100' cy='50' r='50'/%3E%3C/g%3E%3Ccircle fill='%2359408d' cx='50' cy='100' r='50'/%3E%3Cg fill='%236f418d' %3E%3Ccircle cx='0' cy='150' r='50'/%3E%3Ccircle cx='100' cy='150' r='50'/%3E%3C/g%3E%3Ccircle fill='%2384438c' cx='50' cy='200' r='50'/%3E%3Cg fill='%23964589' %3E%3Ccircle cx='0' cy='250' r='50'/%3E%3Ccircle cx='100' cy='250' r='50'/%3E%3C/g%3E%3Ccircle fill='%23a64886' cx='50' cy='300' r='50'/%3E%3Cg fill='%23b54c82' %3E%3Ccircle cx='0' cy='350' r='50'/%3E%3Ccircle cx='100' cy='350' r='50'/%3E%3C/g%3E%3Ccircle fill='%23c2527d' cx='50' cy='400' r='50'/%3E%3Cg fill='%23ce5978' %3E%3Ccircle cx='0' cy='450' r='50'/%3E%3Ccircle cx='100' cy='450' r='50'/%3E%3C/g%3E%3Ccircle fill='%23d86273' cx='50' cy='500' r='50'/%3E%3Cg fill='%23df6c6e' %3E%3Ccircle cx='0' cy='550' r='50'/%3E%3Ccircle cx='100' cy='550' r='50'/%3E%3C/g%3E%3Ccircle fill='%23e6766a' cx='50' cy='600' r='50'/%3E%3Cg fill='%23ea8266' %3E%3Ccircle cx='0' cy='650' r='50'/%3E%3Ccircle cx='100' cy='650' r='50'/%3E%3C/g%3E%3Ccircle fill='%23ed8e63' cx='50' cy='700' r='50'/%3E%3Cg fill='%23ef9a61' %3E%3Ccircle cx='0' cy='750' r='50'/%3E%3Ccircle cx='100' cy='750' r='50'/%3E%3C/g%3E%3Ccircle fill='%23efa761' cx='50' cy='800' r='50'/%3E%3Cg fill='%23eeb363' %3E%3Ccircle cx='0' cy='850' r='50'/%3E%3Ccircle cx='100' cy='850' r='50'/%3E%3C/g%3E%3Ccircle fill='%23ebc067' cx='50' cy='900' r='50'/%3E%3Cg fill='%23e8cd6d' %3E%3Ccircle cx='0' cy='950' r='50'/%3E%3Ccircle cx='100' cy='950' r='50'/%3E%3C/g%3E%3Ccircle fill='%23e3d976' cx='50' cy='1000' r='50'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: contain;
}

.img-blur {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  object-position: 0 13%;
  position: absolute;
  z-index: -1;
  animation: makeBlurred;
  animation-duration: 1.2s;
  animation-delay: 0.8s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
}

h1 {
  margin-bottom: 35px;
  font-family: fantasy;
  font-size: 50px;
  background-color: rgb(144 67 140);
  color: #fff5fd;
  border-bottom: dashed;
  text-align: center;
  text-shadow: 0px 0px 4px black;
}

h2 {
  color: #f9a3ff;
  font-size: 35px;
  text-align: center;
  margin-bottom: 20px;
}

a {
  text-decoration: none;
}

.wrapper {
  display: flex;
  margin: auto;
  flex-direction: row;
  max-width: 520px;
}

.col {
  width: 10%;
}

.middle {
  width: 80%;
  box-shadow: 0px -3px 20px 0 #00000070, 0 26px 43px 4px #ff7863,
    0 0px 0px 0px #f9050500;
  border-radius: 21px;
}

.goBack {
  position: fixed;
  bottom: 20px;
  left: 10px;
  font-size: 4.2rem;
}

.conversationIcon {
  background-color: rgb(255 0 241 / 22%);
  padding: 3px 9px;
  border-radius: 50%;
  margin-right: 15px;
  animation: pulse 1s ease-in-out infinite;
  box-shadow: 0px 0px 2px 5px #f79eff;
}

.confesate-aca {
  position: fixed;
  display: flex;
  flex-direction: row;
  bottom: 35px;
  height: 50px;
  right: 10px;
  font-size: 2rem;
  color: #f9a3ff;
  text-shadow: 2px 2px 5px rgb(29, 26, 26);
  animation: neon 10s ease-in-out infinite;
}

.confesion {
  background-color: rgb(255, 255, 255);
  margin-top: 15px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 4px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  border-radius: 4px;
  border: 2px solid aliceblue;
}

.lastConfesion {
  margin-bottom: 85px !important;
}

.confesion-titulo {
  font-weight: 400;
  margin-bottom: 10px;
}

.confesion-text {
  margin-bottom: 10px;
}

.confesion-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.fa {
  color: white;
}

.far {
  color: #f8a2fe;
  font-family: "Font Awesome 5 Free";
}

.fas {
  color: rgb(255, 255, 255);
}

@keyframes makeBlurred {
  0% {
    filter: blur(0px);
  }
  100% {
    filter: blur(20px);
    transform: scale(0.9);
  }
}

@keyframes gradient {
  20% {
    background: #ff9be1;
  }
  40% {
    background: #ff9bee;
  }
  60% {
    background: #ff9be1;
  }
}

@keyframes neon {
  0% {
    text-shadow: -2px 2px -1px rgb(65, 57, 57);
  }
  50% {
    text-shadow: 2px 2px 10px rgb(77, 34, 34);
  }
  100% {
    text-shadow: -2px 2px -1px rgb(80, 9, 9);
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}

@media screen and (min-width: 900px) {
  .goBack {
    position: relative;
    left: -10px;
    font-size: 3rem;
  }

  .confesate-aca {
    position: relative;
    white-space: nowrap;
    margin-top: 20px;
  }
}
