* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #004ba6;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 1000'%3E%3Cg %3E%3Ccircle fill='%23004ba6' cx='50' cy='0' r='50'/%3E%3Cg fill='%2338449d' %3E%3Ccircle cx='0' cy='50' r='50'/%3E%3Ccircle cx='100' cy='50' r='50'/%3E%3C/g%3E%3Ccircle fill='%234e3d92' cx='50' cy='100' r='50'/%3E%3Cg fill='%235c3687' %3E%3Ccircle cx='0' cy='150' r='50'/%3E%3Ccircle cx='100' cy='150' r='50'/%3E%3C/g%3E%3Ccircle fill='%23662f7b' cx='50' cy='200' r='50'/%3E%3Cg fill='%236d286f' %3E%3Ccircle cx='0' cy='250' r='50'/%3E%3Ccircle cx='100' cy='250' r='50'/%3E%3C/g%3E%3Ccircle fill='%23722263' cx='50' cy='300' r='50'/%3E%3Cg fill='%23741d57' %3E%3Ccircle cx='0' cy='350' r='50'/%3E%3Ccircle cx='100' cy='350' r='50'/%3E%3C/g%3E%3Ccircle fill='%23741a4c' cx='50' cy='400' r='50'/%3E%3Cg fill='%23731841' %3E%3Ccircle cx='0' cy='450' r='50'/%3E%3Ccircle cx='100' cy='450' r='50'/%3E%3C/g%3E%3Ccircle fill='%23701837' cx='50' cy='500' r='50'/%3E%3Cg fill='%236d192e' %3E%3Ccircle cx='0' cy='550' r='50'/%3E%3Ccircle cx='100' cy='550' r='50'/%3E%3C/g%3E%3Ccircle fill='%23681b26' cx='50' cy='600' r='50'/%3E%3Cg fill='%23631d1e' %3E%3Ccircle cx='0' cy='650' r='50'/%3E%3Ccircle cx='100' cy='650' r='50'/%3E%3C/g%3E%3Ccircle fill='%235d1f18' cx='50' cy='700' r='50'/%3E%3Cg fill='%23562112' %3E%3Ccircle cx='0' cy='750' r='50'/%3E%3Ccircle cx='100' cy='750' r='50'/%3E%3C/g%3E%3Ccircle fill='%2350230c' cx='50' cy='800' r='50'/%3E%3Cg fill='%23492407' %3E%3Ccircle cx='0' cy='850' r='50'/%3E%3Ccircle cx='100' cy='850' r='50'/%3E%3C/g%3E%3Ccircle fill='%23432503' cx='50' cy='900' r='50'/%3E%3Cg fill='%233c2601' %3E%3Ccircle cx='0' cy='950' r='50'/%3E%3Ccircle cx='100' cy='950' r='50'/%3E%3C/g%3E%3Ccircle fill='%23362600' cx='50' cy='1000' r='50'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: contain;
  display: block;
  font-family: "Lobster", cursive;
}

h1 {
  margin-bottom: 35px;
  font-family: fantasy;
  font-size: 50px;
  color: #e3d855;
  background-color: #54326c;
  border-bottom: dashed;
  text-shadow: 0px -2px 2px #400c40;
  text-align: center;
}

.modal {
  background-color: rgba(0, 0, 0, 0.767);
  padding: 0px 20px;
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100vw;
  display: none;
  flex-direction: column;
}

#confesionForm {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: 20px auto;
  -webkit-user-drag: none;
}

form > label {
  margin: 5px;
  color: whitesmoke;
  font-size: 1.2rem;
}

.textbox {
  font-size: 1.2rem;
  height: 38px;
  border-radius: 4px;
  padding: 8px;
}

textarea {
  min-height: 70px;
  font-size: 1.3rem;
}

.submit {
  margin-top: 30px;
  background-color: #7c32b9;
  cursor: pointer;
  border-radius: 3.4px;
  font-family: "Lobster", cursive;
  color: ghostwhite;
  font-size: 2rem;
}

.commentBox {
  border-top-style: inherit;
  border-color: #f3eda5;
  margin-top: 15px;
  padding: 2px;
  margin-bottom: 80px;
  background-color: rgb(177 183 215);
  height: 100%;
  width: 100%;
  border-radius: 5px;
}

.comment {
  margin-bottom: 15px;
  margin-top: 10px;
  border-radius: 5px;
}

.commentAuthor {
  font-weight: bold;
  font-size: 1.1rem;
  text-decoration: underline;
}

.commentText {
  font-size: 1.2rem;
  border-bottom-style: dashed;
  border-width: 3.7px;
  border-color: #f3eda5;
  margin-top: 7px;
}

.wrapper {
  display: flex;
  margin: auto;
  flex-direction: row;
  max-width: 500px;
}

.col {
  width: 10%;
}

.middle {
  width: 78%;
}

.goBack {
  position: fixed;
  bottom: 20px;
  left: 10px;
  font-size: 4.2rem;
  color: #a7aeda;
}

.confesate-aca {
  position: fixed;
  display: flex;
  flex-direction: row;
  align-items: center;
  bottom: 23px;
  margin-top: 20px;
  color: #fffdff;
  right: 63px;
  max-width: 150px;
  font-size: 2rem;
  text-shadow: 2px 2px 5px rgb(7, 7, 7);
  animation: neon 2s ease-in-out infinite;
}

.agregarIcon {
  background-color: #fff06442;
  padding: 3px 9px;
  text-shadow: 0px 0px 31px #afaf06;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  margin-right: 15px;
  animation: pulse 1s ease-in-out infinite;
  box-shadow: 0px 0px 1px 3px yellow;
}

.volver {
  width: 300px;
  height: 120px;
  border-radius: 8px;
  background-color: rgb(85 42 121);
  align-self: center;
  margin-top: 20px;
  font-size: 2.2rem;
  font-family: "Lobster";
  color: whitesmoke;
}

.confesion {
  background-color: #b1b7d7;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 100 60'%3E%3Cg %3E%3Crect fill='%23b1b7d7' width='11' height='11'/%3E%3Crect fill='%23b3b8d7' x='10' width='11' height='11'/%3E%3Crect fill='%23b4bad6' y='10' width='11' height='11'/%3E%3Crect fill='%23b6bbd6' x='20' width='11' height='11'/%3E%3Crect fill='%23b7bcd6' x='10' y='10' width='11' height='11'/%3E%3Crect fill='%23b9bdd5' y='20' width='11' height='11'/%3E%3Crect fill='%23babed5' x='30' width='11' height='11'/%3E%3Crect fill='%23bbc0d4' x='20' y='10' width='11' height='11'/%3E%3Crect fill='%23bdc1d4' x='10' y='20' width='11' height='11'/%3E%3Crect fill='%23bec2d4' y='30' width='11' height='11'/%3E%3Crect fill='%23c0c3d3' x='40' width='11' height='11'/%3E%3Crect fill='%23c1c5d3' x='30' y='10' width='11' height='11'/%3E%3Crect fill='%23c3c6d3' x='20' y='20' width='11' height='11'/%3E%3Crect fill='%23c4c7d2' x='10' y='30' width='11' height='11'/%3E%3Crect fill='%23c5c8d2' y='40' width='11' height='11'/%3E%3Crect fill='%23c7c9d1' x='50' width='11' height='11'/%3E%3Crect fill='%23c8cad1' x='40' y='10' width='11' height='11'/%3E%3Crect fill='%23c9ccd1' x='30' y='20' width='11' height='11'/%3E%3Crect fill='%23cbcdd0' x='20' y='30' width='11' height='11'/%3E%3Crect fill='%23ccced0' x='10' y='40' width='11' height='11'/%3E%3Crect fill='%23cecfcf' y='50' width='11' height='11'/%3E%3Crect fill='%23cfd0cf' x='60' width='11' height='11'/%3E%3Crect fill='%23d0d1cf' x='50' y='10' width='11' height='11'/%3E%3Crect fill='%23d1d2ce' x='40' y='20' width='11' height='11'/%3E%3Crect fill='%23d3d3ce' x='30' y='30' width='11' height='11'/%3E%3Crect fill='%23d4d4ce' x='20' y='40' width='11' height='11'/%3E%3Crect fill='%23d5d6cd' x='10' y='50' width='11' height='11'/%3E%3Crect fill='%23d7d7cd' x='70' width='11' height='11'/%3E%3Crect fill='%23d8d8cc' x='60' y='10' width='11' height='11'/%3E%3Crect fill='%23d9d9cc' x='50' y='20' width='11' height='11'/%3E%3Crect fill='%23dadacc' x='40' y='30' width='11' height='11'/%3E%3Crect fill='%23dcdbcb' x='30' y='40' width='11' height='11'/%3E%3Crect fill='%23dddccb' x='20' y='50' width='11' height='11'/%3E%3Crect fill='%23deddca' x='80' width='11' height='11'/%3E%3Crect fill='%23dfdeca' x='70' y='10' width='11' height='11'/%3E%3Crect fill='%23e1dfca' x='60' y='20' width='11' height='11'/%3E%3Crect fill='%23e2e0c9' x='50' y='30' width='11' height='11'/%3E%3Crect fill='%23e3e1c9' x='40' y='40' width='11' height='11'/%3E%3Crect fill='%23e4e2c8' x='30' y='50' width='11' height='11'/%3E%3Crect fill='%23e5e3c8' x='90' width='11' height='11'/%3E%3Crect fill='%23e7e4c8' x='80' y='10' width='11' height='11'/%3E%3Crect fill='%23e8e5c7' x='70' y='20' width='11' height='11'/%3E%3Crect fill='%23e9e6c7' x='60' y='30' width='11' height='11'/%3E%3Crect fill='%23eae7c7' x='50' y='40' width='11' height='11'/%3E%3Crect fill='%23ebe8c6' x='40' y='50' width='11' height='11'/%3E%3Crect fill='%23ece9c6' x='90' y='10' width='11' height='11'/%3E%3Crect fill='%23eeeac5' x='80' y='20' width='11' height='11'/%3E%3Crect fill='%23efebc5' x='70' y='30' width='11' height='11'/%3E%3Crect fill='%23f0ecc4' x='60' y='40' width='11' height='11'/%3E%3Crect fill='%23f1edc4' x='50' y='50' width='11' height='11'/%3E%3Crect fill='%23f2eec4' x='90' y='20' width='11' height='11'/%3E%3Crect fill='%23f3efc3' x='80' y='30' width='11' height='11'/%3E%3Crect fill='%23f4f0c3' x='70' y='40' width='11' height='11'/%3E%3Crect fill='%23f5f1c2' x='60' y='50' width='11' height='11'/%3E%3Crect fill='%23f7f2c2' x='90' y='30' width='11' height='11'/%3E%3Crect fill='%23f8f3c2' x='80' y='40' width='11' height='11'/%3E%3Crect fill='%23f9f4c1' x='70' y='50' width='11' height='11'/%3E%3Crect fill='%23faf5c1' x='90' y='40' width='11' height='11'/%3E%3Crect fill='%23fbf6c0' x='80' y='50' width='11' height='11'/%3E%3Crect fill='%23fcf7c0' x='90' y='50' width='11' height='11'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  margin-top: 15px;
  padding: 4px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  border-radius: 11px;
  border: 4px solid #afb5d5;
}

.confesion-titulo {
  font: caption;
  font-weight: 800;
  font-size: 1.3rem;
  text-align: center;
  color: #38361e;
  margin-bottom: 10px;
  border-bottom-style: inset;
  border-color: #d7d7cc;
  text-shadow: 1px 1px 1px #100a31;
}

.confesion-text {
  font-size: 1.2rem;
  margin-bottom: 10px;
  border-style: outset;
  border-block-end: initial;
  border-color: #afb5d5;
}

.confesion-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-style: outset;
  border-color: #b1b7d7;
  border-block-start: initial;
}

.fas {
  color: #ffffff;
}

.far {
  color: #f7ffc8;
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}

@media screen and (min-width: 550px) {
  .goBack {
    font-size: 4rem;
  }
}

@media screen and (min-width: 850px) {
  .goBack {
    position: relative;
    left: -10px;
    font-size: 3rem;
  }

  .confesate-aca {
    position: relative;
    left: 10px;
    margin-top: 0px;
  }
}

@media screen and (min-width: 1080px) {
  .confesate-aca {
    white-space: nowrap;
    margin-top: 9px;
  }
}
