* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #d259dd;
  animation: gradient 2.5s ease-in infinite;
  display: block;
  font-family: "Lobster", cursive;
  height: 104vh;
  overflow: hidden;
}

.img-blur {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  object-position: 0 13%;
  position: absolute;
  z-index: -1;
  animation: makeBlurred;
  animation-duration: 1.2s;
  animation-delay: 0.8s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
}

.action-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.main-video {
  height: 80%;
  width: 100%;
  display: flex;
  margin-left: 11.3px;
  margin-right: 10px;
  opacity: 0;
  animation: fadeIn;
  animation-duration: 1s;
  animation-delay: 1.2s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
}

.main-video iframe {
  width: 100%;
}

.texto-video {
  box-shadow: 0px 0px 10px 10px #4350ff75;
  padding: 6px;
  opacity: 0;
  margin-top: 30px;
  border: 3px;
  border-style: solid;
  border-color: #7274ce;
  border-radius: 14px;
  background-color: rgb(62, 216, 219);
  background: linear-gradient(
    180deg,
    rgba(62, 216, 219, 1) 0%,
    rgba(81, 142, 215, 1) 34%,
    rgba(164, 81, 215, 1) 100%
  );
  animation: fadeIn;
  animation-duration: 0.8s;
  animation-delay: 1.2s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
  color: #f7feff;
}
.secondBox {
  display: flex;
  align-items: flex-start;
  height: 100vh;
  width: 100vw;
  -webkit-user-drag: none;
}

.instagramBox {
  text-align: center;
  margin-right: 10px;
  height: 40vh;
  width: 50vw;
}

.instagram {
  opacity: 0;
  margin-top: 10px;
  height: 8rem;
  width: 8rem;
  animation: fadeIn;
  animation-duration: 1.1s;
  animation-delay: 1.5s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
}

.seguime {
  --shadow-color: #7972d33b;
  --shadow-color-light: rgba(255, 0, 212, 0.685);
  opacity: 0;
  font-size: 1.9rem;
  color: rgb(255 254 254);
  animation: fadeIn 1.3s forwards, neon 6s infinite;
  animation-delay: 1.5s;
  animation-timing-function: ease-in;
}

.confessionbox {
  margin-left: 10px;
  height: 40vh;
  width: 50vw;
}

.icon-wrapper {
  margin-top: 10px;
  height: 8rem;
  width: 8rem;
  background: linear-gradient(
    124deg,
    rgba(158, 58, 180, 1) 0%,
    rgb(48, 189, 182) 50%,
    rgba(252, 72, 69, 1) 100%
  );
  opacity: 0;
  border-radius: 30px;
  animation: fadeIn;
  animation-duration: 1.1s;
  animation-delay: 1.5s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
}

.confessiontext {
  --shadow-color: #7972d33b;
  --shadow-color-light: rgba(255, 0, 212, 0.685);
  opacity: 0;
  font-size: 1.9rem;
  margin-top: 5px;
  color: rgb(234 233 255);
  animation: fadeIn 1.3s forwards, neon2 6s infinite;
  animation-delay: 1.5s;
  animation-timing-function: ease-in;
}

.icono {
  font-size: 6rem;
  margin-top: 1rem;
  margin-left: 1rem;
  color: snow;
}

@keyframes makeBlurred {
  0% {
    filter: blur(0px);
  }
  100% {
    filter: blur(20px);
    transform: scale(0.9);
  }
}

@keyframes fadeIn {
  0% {
    transform: translateY(50%);
    display: hidden;
  }
  100% {
    transform: translateY(10%);
    opacity: 1;
    display: inline;
  }
}
@keyframes neon {
  20% {
    text-shadow: 2px 2px 20px rgb(255, 0, 0);
  }
  50% {
    text-shadow: 2px 2px 10px rgb(153, 0, 0);
  }
  80% {
    text-shadow: 2px 2px 1px rgb(27, 0, 16);
  }
}

@keyframes neon2 {
  20% {
    text-shadow: 0px 0px 20px rgb(17, 183, 171);
  }
  50% {
    text-shadow: 2px 2px 10px rgb(61, 0, 64);
  }
  80% {
    text-shadow: 2px 2px 1px rgb(0, 0, 0);
  }
}

@keyframes gradient {
  20% {
    background: #b410b9;
  }
  40% {
    background: #dd6996;
  }
  60% {
    background: #ec63b8;
  }
  80% {
    background: #cf44b8;
  }
}

@media screen and (min-width: 400px) {
  .main-video {
    width: 400px;
  }
  .texto-video {
    font-size: x-large;
  }
  .instagram {
    height: 11rem;
    width: 11rem;
  }
  .seguime {
    font-size: 2.8rem;
  }
  .secondBox {
    margin-left: 60px;
  }

  .confessiontext {
    font-size: 2.8rem;
  }
  .icon-wrapper {
    height: 11rem;
    width: 11rem;
  }
  .icono {
    font-size: 9rem;
  }
}

@media screen and (min-width: 700px) {
  .main-video {
    width: 700px;
  }
  .seguime {
    font-size: 3.4rem;
  }
  .confessiontext {
    font-size: 3.4rem;
  }
  .icon-wrapper {
    margin-left: 20px;
  }
}
@media screen and (min-width: 1024px) {
}
